<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* background: #114357;
  background: -webkit-linear-gradient(to top, #F29492, #114357);
  background: linear-gradient(to top, #F29492, #114357); */

  background: #360033;
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
  background: linear-gradient(to bottom, #0b8793, #360033);

  /* background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);  */





}
td, th {
  color: #FFF;
}
h1, h2, h3, h4, h5, h6, p{
  color: #FFF !important;
}
 
.btn {
  border-radius: 0 !important;

}
.thead-custom {
  background: #2c3e50;
  border: none !important;
}
tbody {
  background: transparent !important;
}
.form-control {
  border-radius: 0 !important;
}
.confirm-btn {
  background-color: #2c3e50;
  color: #fff;
}
.confirm-btn:hover,
.success-btn:hover,
.details-btn {
  opacity: 0.9;
  color: #fff;
}
.success-btn {
  background-color: #c3a71f;
  color: #fff;
}
.default-btn {
  background-color: #ad5389;
  color: #fff;
}
.details-btn {
  background-color: #d6a9c4;
  color: #fff;
}
.btn-wide {
  letter-spacing: 1px;
  padding: 5px 50px 5px 50px;
}
.card {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.4);
}
/******* LOGIN PAGE ********/

.wrapper {
  height: 100vh;
  width: 100vw;
  /* background: #3c1053;
  background: linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -webkit-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -moz-linear-gradient(193deg, #3c1053 0%, #ad5389 80%); */

  background: #360033;
  background: -webkit-linear-gradient(to left, #0b8793, #360033);
  background: linear-gradient(to left, #0b8793, #360033);
}
.login-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 600px;
  height: 430px;
  border-radius: 0;
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);

}
.fa-graduation-cap {
  font-size: 3rem;
  color: #fff;
}
.fa-graduation-cap::before {
  background-color: #ad5389;
  border-radius: 50%;
  padding: 30px;
}
.form-group {
  position: relative;
}
.fa-user {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ad5389;
}
.fa-lock {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ad5389;
}
.login-card form {
  padding-top: 2%;
}
.login-input {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  transition: 300ms;
  border-color: #ad5389;
  padding-left: 15% !important;
}
.login-card .submit {
  width: 100%;
  border-radius: 20px;
  border: none;
  background: #3c1053;
  background: linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -webkit-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -moz-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  transition: 300ms;
}
.login-card .submit:hover {
  box-shadow: none;
}
.forgot_pass_text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

/******* ADMIN PANEL ********/

/* .row-content {
  margin-top: 50px;
} */

/******* SIDEBAR ********/

.sidebar {
	width: 20vw;
	height: 100%;
	position: fixed;
	left: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  opacity: 1;
  background :rgba(255, 255, 255, 0.1);
  padding-top: 5vh;
  box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
}
.sidebar-sm {
	width: 20vw;
	height: 100%;
	position: fixed;
  left: -20vw;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  background :rgba(255, 255, 255, 0.1);
  padding-top: 5vh;
  box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
}
.hamburger {
  position: absolute;
  top: 2%;
  left: 21vw;
  z-index: 1000;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
}
.hamburger-full {
  position: absolute;
  top: 2%;
  left: 1vw;
  z-index: 1000;

}
.hamburger:focus {
  outline: 0;
}
.sidebar .nav-link {
  color: #fff;
  padding-top: 13px;
  padding-bottom: 13px;
}
.sidebar .sidebar-icon {
  color: #ad5389;
  margin-right: 10px;
  font-size: 1.5rem;
}
.sidebar .nav-item {
  transition: all 300ms;
}
.sidebar .nav-item:hover {
  background :rgba(255, 255, 255, 0.3);

}
.sidebar .nav-item:hover .sidebar-icon {
  color: #fff;
}
.sidebar-nav {

}
.logout {
  width: 40%;
}
.logout:hover {
  background: transparent !important;
}
.logout .nav-link {
  font-size: 0.9rem;
  transition: all 200ms;
}
.logout .nav-link:hover {
  color: #ad5389;
}
.sidebar-hr {
  background: rgba(255, 255, 255, 0.7);
  width: 90%;
}
.avatar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}
.avatar-icon {
  font-size: 6rem;
  color: #ad5389;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/******* MAIN CONTENT ********/

.main {
  position: relative;
  padding-top: 50px !important;
  width: 80vw;
  min-height: 100vh;
  z-index: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
}
.main-full {
  width: 100vw;
  position: relative;
  padding-top: 50px !important;
  min-height: 100vh;
  z-index: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
}
.main table {
  width: 100%;
}
.main .col-12 {
  padding-left: 5%;
}
.card-icon {
  font-size: 5rem;
  color: #ad5389;
  transition: all 300ms;
}
.main-card {
  border: none;
  width: 300px;
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  transition: all 400ms;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
}
.main-card:hover {
  box-shadow: none;
}
.main-card .card-footer h3 {
  color: #FFF;
}
.bounce-delay_first {
  animation-delay: 0.3s;
}
.bounce-delay_second {
  animation-delay: 0.4s;
}
.bounce-delay_third {
  animation-delay: 0.5s;
}
.bounce-delay_fourth {
  animation-delay: 0.6s;
}
.bounce-delay_fifth {
  animation-delay: 0.7s;
}
.bounce-delay_sixt {
  animation-delay: 0.8s;
}
/********** DASHBOARD ADMINISTRATOR ****************/

#admin-dash .main-card {
  /* min-height: 30vh;
  max-height: 30vh; */
}
#admin-dash .main-card h3{
  font-size:1.3rem;
}
/********** TIMETABLE ADMINISTRATOR ****************/
.timetable {
  background-color: #d6a9c4;
}
.thead {
  background-color: #2c3e50;
  color: #fff;
}
/********** NOTICEBOARD ADMINISTRATOR ****************/

.custom-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  color: #FFF;
}
.custom-card:hover {
}
.card-details {
  min-height: 60vh;
  box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
}
.card-header {
  background-color: #2c3e50;
}

.card {
  overflow: hidden;
}


/********** CHAT ****************/

.chatbox {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  margin: auto;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.2);
}
.typemessage {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  background: rgba(255, 255, 255, 0.2);
  height: 7vh;
}
.typemessage form {
  width: 100%;
  height: 7vh;
}
.typemessage .form-control {
  background: transparent;
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  height: 7vh;
  color: #fff;
}
.typemessage .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.btn-chat {
  border-radius: 0;
  background: #55E6C1;
}
.btn-chat:hover {
  background: #1dc89d;
}
.msg-header {
  background-color: #2C3E50;
  padding: 10px;
}
.inbox .nav-item {
  transition: all 300ms;
}
.inbox .nav-item:hover {
  background-color: #AD5389;
}
.inbox .nav-item:hover > .nav-link {
  color: #fff !important;
}
.inbox .nav-link {
  padding: 12px;
  min-height: 10vh;
  border-bottom: 1px solid #4c5a6b;
}
.users-list {
  height: 50vh;
  max-height: 50vh;
  overflow: scroll;
}
.users-list .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 200ms;
}
.users-list .nav-item:hover {
  background-color: #55E6C1;
}
.users-list .nav-link:hover {
  color: #ad5389 !important;
}
.chatbox::-webkit-scrollbar {
  width: 12px;
}
.users-list::-webkit-scrollbar {
  width: 12px;
}
.chatbox::-webkit-scrollbar-corner {
  background: transparent;
}
.users-list::-webkit-scrollbar-corner {
  background: transparent;
}
.speech-bubble {
	position: relative;
  padding: 1rem;
	border-radius: .4em;
}
.sender {
  background: rgba(255, 255, 255, 0.2);
}
.reciever {
  background: #AD5389;

}
.speech-bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #AD5389;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

.speech-bubble-recipient {
	position: relative;
	background: #0a3d62;
	border-radius: .4em;
}

.speech-bubble-recipient::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #0a3d62;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

=======
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* background: #114357;
  background: -webkit-linear-gradient(to top, #F29492, #114357);
  background: linear-gradient(to top, #F29492, #114357); */

  background: #360033;
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
  background: linear-gradient(to bottom, #0b8793, #360033);

  /* background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);  */





}
td, th {
  color: #FFF;
}
h1, h2, h3, h4, h5, h6, p {
  color: #FFF !important;
}
 
.btn {
  border-radius: 0 !important;

}
.thead-custom {
  background: #2c3e50;
  border: none !important;
}
tbody {
  background: transparent !important;
}
.form-control {
  border-radius: 0 !important;
}
.confirm-btn {
  background-color: #2c3e50;
  color: #fff;
}
.confirm-btn:hover,
.success-btn:hover,
.details-btn {
  opacity: 0.9;
  color: #fff;
}
.success-btn {
  background-color: #c3a71f;
  color: #fff;
}
.default-btn {
  background-color: #ad5389;
  color: #fff;
}
.details-btn {
  background-color: #d6a9c4;
  color: #fff;
}
.btn-wide {
  letter-spacing: 1px;
  padding: 5px 50px 5px 50px;
}
.card {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.4);
}
/******* LOGIN PAGE ********/

.wrapper {
  height: 100vh;
  width: 100vw;
  /* background: #3c1053;
  background: linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -webkit-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -moz-linear-gradient(193deg, #3c1053 0%, #ad5389 80%); */

  background: #360033;
  background: -webkit-linear-gradient(to left, #0b8793, #360033);
  background: linear-gradient(to left, #0b8793, #360033);
}
.login-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 600px;
  height: 430px;
  border-radius: 0;
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.5);

}
.fa-graduation-cap {
  font-size: 3rem;
  color: #fff;
}
.fa-graduation-cap::before {
  background-color: #ad5389;
  border-radius: 50%;
  padding: 30px;
}
.form-group {
  position: relative;
}
.fa-user {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ad5389;
}
.fa-lock {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ad5389;
}
.login-card form {
  padding-top: 2%;
}
.login-input {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  transition: 300ms;
  border-color: #ad5389;
  padding-left: 15% !important;
}
.login-card .submit {
  width: 100%;
  border-radius: 20px;
  border: none;
  background: #3c1053;
  background: linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -webkit-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  background: -moz-linear-gradient(193deg, #3c1053 0%, #ad5389 80%);
  box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.63);
  transition: 300ms;
}
.login-card .submit:hover {
  box-shadow: none;
}
.forgot_pass_text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

/******* ADMIN PANEL ********/

/* .row-content {
  margin-top: 50px;
} */

/******* SIDEBAR ********/

.sidebar {
	width: 20vw;
	height: 100%;
	position: fixed;
	left: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  opacity: 1;
  background :rgba(255, 255, 255, 0.1);
  padding-top: 5vh;
  box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
}
.sidebar-sm {
	width: 20vw;
	height: 100%;
	position: fixed;
  left: -20vw;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  background :rgba(255, 255, 255, 0.1);
  padding-top: 5vh;
  box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 11px -7px rgba(0,0,0,0.75);
}
.hamburger {
  position: absolute;
  top: 2%;
  left: 21vw;
  z-index: 1000;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01) !important;
}
.hamburger-full {
  position: absolute;
  top: 2%;
  left: 1vw;
  z-index: 1000;

}
.hamburger:focus {
  outline: 0;
}
.sidebar .nav-link {
  color: #fff;
  padding-top: 13px;
  padding-bottom: 13px;
}
.sidebar .sidebar-icon {
  color: #ad5389;
  margin-right: 10px;
  font-size: 1.5rem;
}
.sidebar .nav-item {
  transition: all 300ms;
}
.sidebar .nav-item:hover {
  background :rgba(255, 255, 255, 0.3);

}
.sidebar .nav-item:hover .sidebar-icon {
  color: #fff;
}
.sidebar-nav {

}
.logout {
  width: 40%;
}
.logout:hover {
  background: transparent !important;
}
.logout .nav-link {
  font-size: 0.9rem;
  transition: all 200ms;
}
.logout .nav-link:hover {
  color: #ad5389;
}
.sidebar-hr {
  background: rgba(255, 255, 255, 0.7);
  width: 90%;
}
.avatar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}
.avatar-icon {
  font-size: 6rem;
  color: #ad5389;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/******* MAIN CONTENT ********/

.main {
  position: relative;
  padding-top: 50px !important;
  width: 80vw;
  min-height: 100vh;
  z-index: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
}
.main-full {
  width: 100vw;
  position: relative;
  padding-top: 50px !important;
  min-height: 100vh;
  z-index: 0;
  -webkit-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  -moz-transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
  transition: all 0.5s cubic-bezier(1,-0.01, 0.4, 1.01);
}
.main table {
  width: 100%;
}
.main .col-12 {
  padding-left: 5%;
}
.card-icon {
  font-size: 5rem;
  color: #ad5389;
  transition: all 300ms;
}
.main-card {
  border: none;
  width: 300px;
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  transition: all 400ms;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 21px 39px -26px rgba(0, 0, 0, 0.75);
}
.main-card:hover {
  box-shadow: none;
}
.main-card .card-footer h3 {
  color: #FFF;
}
.bounce-delay_first {
  animation-delay: 0.3s;
}
.bounce-delay_second {
  animation-delay: 0.4s;
}
.bounce-delay_third {
  animation-delay: 0.5s;
}
.bounce-delay_fourth {
  animation-delay: 0.6s;
}
.bounce-delay_fifth {
  animation-delay: 0.7s;
}
.bounce-delay_sixt {
  animation-delay: 0.8s;
}
/********** DASHBOARD ADMINISTRATOR ****************/

#admin-dash .main-card {
  /* min-height: 30vh;
  max-height: 30vh; */
}
#admin-dash .main-card h3{
  font-size:1.3rem;
}
/********** TIMETABLE ADMINISTRATOR ****************/
.timetable {
  background-color: #d6a9c4;
}
.thead {
  background-color: #2c3e50;
  color: #fff;
}
/********** NOTICEBOARD ADMINISTRATOR ****************/

.custom-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 7px 17px 2px rgba(0, 0, 0, 0.65);
  color: #FFF;
}
.custom-card:hover {
}
.card-details {
  min-height: 60vh;
  box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.65);
}
.card-header {
  background-color: #2c3e50;
}

.card {
  overflow: hidden;
}


/********** CHAT ****************/

.chatbox {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  margin: auto;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.2);
}
.typemessage {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  background: rgba(255, 255, 255, 0.2);
  height: 7vh;
}
.typemessage form {
  width: 100%;
  height: 7vh;
}
.typemessage .form-control {
  background: transparent;
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  height: 7vh;
  color: #fff;
}
.typemessage .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.btn-chat {
  border-radius: 0;
  background: #55E6C1;
}
.btn-chat:hover {
  background: #1dc89d;
}
.msg-header {
  background-color: #2C3E50;
  padding: 10px;
}
.inbox .nav-item {
  transition: all 300ms;
}
.inbox .nav-item:hover {
  background-color: #AD5389;
}
.inbox .nav-item:hover > .nav-link {
  color: #fff !important;
}
.inbox .nav-link {
  padding: 12px;
  min-height: 10vh;
  border-bottom: 1px solid #4c5a6b;
}
.users-list {
  height: 50vh;
  max-height: 50vh;
  overflow: scroll;
}
.users-list .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 200ms;
}
.users-list .nav-item:hover {
  background-color: #55E6C1;
}
.users-list .nav-link:hover {
  color: #ad5389 !important;
}
.chatbox::-webkit-scrollbar {
  width: 12px;
}
.users-list::-webkit-scrollbar {
  width: 12px;
}
.chatbox::-webkit-scrollbar-corner {
  background: transparent;
}
.users-list::-webkit-scrollbar-corner {
  background: transparent;
}
.speech-bubble {
	position: relative;
  padding: 1rem;
	border-radius: .4em;
}
.sender {
  background: rgba(255, 255, 255, 0.2);
}
.reciever {
  background: #AD5389;

}
.speech-bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #AD5389;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

.speech-bubble-recipient {
	position: relative;
	background: #0a3d62;
	border-radius: .4em;
}

.speech-bubble-recipient::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #0a3d62;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}
>>>>>>> origin/jelenap
